@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.contarner{
 
    height: 100vh;
    background-size: 100% 100%;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(22,112,214,0.4);
}
.navbar ul{
    float: right;
    margin-right: 20px;
    transition: 0.9s;
}
.LOGO{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.LOGO a{
text-decoration: none;
font-size: 30px;
font-family: sans-serif;
color: #f3f3f3;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
   font-family: roboto;
}
.navbar ul li a.active{
    background: #ff6e00;
    border-radius: 2px;
}
.navbar ul li a:hover{
background: #ff6e00;
border-radius: 2px;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;

}
.center h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center .buton{
    margin: 30px 290px;


}
.buton button{
    height: 50px;
    width: 50px;
}
